doctype html
html(lang='pt-br')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Postagens
    link(rel='stylesheet', href='/stylesheets/visualizarPostagens.css')
  body
    #fade.hide
    #modal.hide
      .modal-header
        h2(style='color: black;') Atualizar imagem
        button#close-modal(style='color: black; background-color: transparent') X
      .modal-body
        div
        p=msg
        form#form(action='/publications/update' method='POST')
          input(type="hidden" id="target" name="target" value="")
          input.inputs(name="photo" type='text' value='' placeholder='Insira a imagem da publicação')
          input#inputB(type='submit' value='atualizar')
    #container
      header.menu
        nav.content
          ul.list
            li.link
              a(href='/') Home
            li.link
              a(href='/opcoes') Funções
            li.link
              a(href='/visualizar') Outra coisa
            li.link
              a(href='/json') JSON

      main
        each publication in publications
          #div
            #div2
              div
                img#img12(src=publication.avatar)
              #div4
                div
                  p#author=publication.author
                div(style='display: flex;')
                  div=publication.type
                  #date=publication.date
            div
              img#img23(src=publication.photo)
            div#divlast
              div(style='display: flex;')
                #comment=publication.like
                #comment=publication.comment  
              p#pp=publication.caption
            #div11
              button.open-modal(id=publication.url) atualizar
              a(href=publication.url+'/delete')
                button deletar
    script(src='/javascripts/script2.js')